$colors: (
  red: #b34646,
  orange: #ad8213,
  yellow: #ede972,
  green: #11bf2e,
  blue: #58a6ff,
  purple: #890ca8,
);

@each $name, $color in $colors {
  .#{'' + $name} {
    color: $color;
  }
  .bg-#{'' + $name} {
    background: $color;
  }
}
