.button-square,
%button-square {
  width: list.nth($sizing, 4);
  height: list.nth($sizing, 4);
}

.banner {
  @extend %focus-within;
  @extend %row;

  position: absolute;
  bottom: list.nth($sizing, 2);
  left: 0;
  min-width: list.nth($text-width, 2);
  height: list.nth($sizing, 4);
  padding-left: list.nth($sizing, 1);
  margin: list.nth($sizing, 3);
  background: list.nth($gray-scale, 4);
  gap: 0;

  button {
    @extend %button-square;

    outline: none;
  }

  p {
    @extend %grow;
  }
}

.drum-beats {
  @extend %row, %wrap;

  max-width: 80ch;

  button {
    @extend %button-square;

    background: list.nth($gray-scale, 5);

    &.selected {
      background: green;
      background: list.nth($gray-scale, 3);
    }
  }
}
