@import 'utilities';

select,
input,
button {
  @extend %input;
  @extend %disabled;
  @extend %hover;
  @extend %focus;
}

button {
  width: list.nth($sizing, 6);
  cursor: pointer;
}

select {
  width: list.nth($sizing, 6);
  cursor: pointer;
  text-align: center;
}

::placeholder {
  color: list.nth($gray-scale, 6);
}

input[type='text'] {
  width: list.nth($text-width, 2);
  flex-grow: 1;
  padding-right: list.nth($sizing, 1);
  padding-left: list.nth($sizing, 1);
}

input[type='file'] {
  width: list.nth($sizing, 6) * 3 + list.nth($sizing, 2) * 2;
  cursor: pointer;
}

label {
  @extend %row;
  @extend %focus-within;

  height: list.nth($sizing, 4);
  padding-right: list.nth($sizing, 1);
  padding-left: list.nth($sizing, 1);

  input[type='radio'] {
    @extend %disabled;

    width: list.nth($sizing, 4);
    cursor: pointer;
    gap: list.nth($sizing, 1);
    outline: none;
  }
}

.radio-group {
  @extend %row;
}

ul,
li {
  list-style: none;
}

audio {
  @extend %input;

  width: list.nth($text-width, 2);
  background: list.nth($gray-scale, 8);

  &::-webkit-media-controls-panel {
    background: list.nth($gray-scale, 8);
  }
}
