.input,
%input {
  height: list.nth($sizing, 4);
  background: list.nth($gray-scale, 4);
}

.hover,
%hover {
  background: list.nth($gray-scale, 4);

  &:hover {
    opacity: 0.8;
    transition: opacity 250ms;
  }
}

@mixin focus {
  outline: 0.15rem solid list.nth($gray-scale, 8);
  transition: outline 100ms;
}

.focus,
%focus {
  &:focus {
    @include focus;
  }
}

.focus-within,
%focus-within {
  &:focus-within {
    @include focus;
  }
}

.disabled,
%disabled {
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.outline,
%outline {
  outline: 1px solid white;
}

.outline-children {
  @extend %outline;

  * {
    @extend %outline;
  }
}

@each $name, $color in $colors {
  .#{'' + $name} {
    color: $color;
  }
  .bg-#{'' + $name} {
    background: $color;
  }
}

.width2 {
  width: list.nth($sizing, 6) * 2 + list.nth($sizing, 2);
}

.text-width2 {
  width: list.nth($text-width, 2);
}

.flex,
%flex {
  // @extend %outline;
  display: flex;
  // align-items: stretch;
  justify-content: center;
  gap: list.nth($sizing, 2);
}

.row,
%row {
  @extend %flex;
  flex-direction: row;
}

.row-left,
%row-left {
  @extend %row;
  justify-content: left;
}

.row-center,
%row-center {
  @extend %row;
  justify-content: center;
}
.row-right,
%row-right {
  @extend %row;
  justify-content: right;
}

.column,
%column {
  @extend %flex;
  flex-direction: column;
}

.column-start,
%column-start {
  @extend %column;
  align-items: start;
}

.column-center,
%column-center {
  @extend %column;
  align-items: center;
}

.column-stretch,
%column-stretch {
  @extend %column;
  align-items: stretch;
}

.wrap,
%wrap {
  flex-wrap: wrap;
}

.grow,
%grow {
  flex-grow: 1;
}

.no-shrink,
%no-shrink {
  flex-shrink: 0;
}

.justify-content-right {
  justify-content: right;
}

.justify-content-left {
  justify-content: left;
}

// .align-items-end {
//   align-items: end;
// }

// .align-items-start {
//   align-items: start;
// }

// .align-items-center {
//   align-items: center;
// }

.text-center,
%text-center {
  text-align: center;
}

.contain {
  @media (min-width: 80ch) {
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
  }
}
