@use 'sass:list';
@use 'sass:map';

$sans-serif-fonts: 'Open Sans', 'Fira Sans', 'Lucida Sans',
  'Lucida Sans Unicode', 'Trebuchet MS', 'Liberation Sans', 'Nimbus Sans L',
  sans-serif;

$monospace-fonts: 'Fira Mono', 'DejaVu Sans Mono', Menlo, Consolas,
  'Liberation Mono', Monaco, 'Lucida Console', monospace;

$gray-scale: #000, #444, #888, #bbb, #fff;

$mode: 'not-debug';

$colors: (
  red: #b34646,
  orange: #ad8213,
  yellow: #ede972,
  green: #11bf2e,
  blue: #58a6ff,
  purple: #890ca8,
);

$globals: (
  border-radius: 0.2rem,
  input-width: 50ch,
);

html,
body {
  font-size: 100%;
  font-family: 'Segoe UI', list.nth($sans-serif-fonts, 4);
  color: list.nth($gray-scale, 4);
  background: #111;
  max-width: 80ch;
  margin: 0 auto;
}

body * {
  box-sizing: border-box;

  // display: block;
  // margin-top: 0.5rem;
  // margin-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 0;
  padding: 0;

  color: inherit;
  background: inherit;
  font: inherit;
  letter-spacing: inherit;

  text-decoration: none;
  border: none;
  outline: none;

  @if $mode == 'debug' {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    border: 0.1rem solid white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  color: list.nth($gray-scale, 5);
}

p {
  font-size: 1.2rem;
}

ul,
li {
  list-style: none;
}

@mixin hover {
  transition: opacity 250ms;
  &:hover {
    opacity: 0.8;
  }
}

@mixin focus {
  transition: outline 250ms;
  &:focus {
    outline: 0.15rem solid map.get($colors, blue);
  }
}

@mixin input {
  border-radius: map.get($globals, border-radius);
  padding: 0.3rem 0.5rem;
  background: list.nth($gray-scale, 5);
}

input {
  @include input;
  @include focus;
  width: map.get($globals, input-width);
  color: list.nth($gray-scale, 1);
}

button {
  @include input;
  @include focus;
  @include hover;
  background: list.nth($gray-scale, 3);
  color: list.nth($gray-scale, 5);
  cursor: pointer;
}

a {
  @include hover;
  color: map.get($colors, blue);
}

.input-group {
  display: flex;
  width: map.get($globals, input-width);
  > * {
    margin: 0;
    border-radius: 0;
  }
  gap: 0.15rem;
  :first-child {
    border-top-left-radius: map.get($globals, border-radius);
    border-bottom-left-radius: map.get($globals, border-radius);
  }
  :last-child {
    border-top-right-radius: map.get($globals, border-radius);
    border-bottom-right-radius: map.get($globals, border-radius);
  }
}

@each $name, $color in $colors {
  .#{'' + $name} {
    color: $color;
  }
  .bg-#{'' + $name} {
    background: $color;
  }
}
